@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "nordlys";
  default: true;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: oklch(17.4% 0.017 180.426);
  --color-base-200: oklch(9.2% 0 0);
  --color-base-300: oklch(20.9% 0.077 168.940);
  --color-base-content: oklch(95% 0.052 163.051);
  --color-primary: oklch(85% 0.138 181.071);
  --color-primary-content: oklch(14% 0.004 49.25);
  --color-secondary: oklch(62% 0.265 303.9);
  --color-secondary-content: oklch(17.4% 0.149 302.717);
  --color-accent: oklch(76% 0.174 163.223);
  --color-accent-content: oklch(26% 0.051 172.552);
  --color-neutral:  oklch(98% 0.014 180.72);
  --color-neutral-content: oklch(26% 0 0);
  --color-info: oklch(62% 0.194 149.214);
  --color-info-content: oklch(97% 0.013 236.62);
  --color-success: oklch(64% 0.2 131.684);
  --color-success-content: oklch(98% 0.031 120.757);
  --color-warning: oklch(55% 0.195 38.402);
  --color-warning-content: oklch(98% 0.016 73.684);
  --color-error: oklch(39% 0.141 25.723);
  --color-error-content: oklch(97% 0.014 343.198);
  --radius-selector: 2rem;
  --radius-field: 0.5rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 2px;
  --depth: 1;
  --noise: 0;
}


:root {
  background-color: oklch(9.2% 0 0) ;
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-heading: var(--font-poppins);
  --font-body: var(--font-roboto);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-body);
  overscroll-behavior: none;
  -webkit-tap-highlight-color: transparent;
  touch-action: manipulation; 
}

h1 {
  @apply text-8xl font-bold bg-linear-to-r 
  from-emerald-500 from-0% via-teal-200 via-45% to-indigo-400 to-100%
  bg-clip-text text-transparent mb-6 pb-2 leading-tight;
  font-family: var(--font-heading);
}

h2 {
  @apply text-5xl font-extrabold text-neutral mb-4;
  font-family: var(--font-heading);
}

h3 {
  @apply text-3xl font-bold text-neutral mb-3;
  font-family: var(--font-heading);
}

h4 {
  @apply text-2xl font-semibold text-neutral mb-2;
  font-family: var(--font-heading);
}

h5 {
  @apply text-xl font-medium text-neutral;
  font-family: var(--font-heading);
}

h6 {
  @apply text-lg font-medium text-neutral;
  font-family: var(--font-heading);
}